export("fun.main")
import(biomod2)
import(ggplot2)
import(doParallel)
import(foreach)
import(raster)
importFrom(Reol,GatherDataObjectInformation)
importFrom(knitr,knit_child)
importFrom(knitr,include_graphics)
importFrom(knitr,opts_knit)
importFrom(knitr,opts_chunk)
importFrom(knitr,knit2pdf)
importFrom(xtable,xtable)
importFrom(xtable,print.xtable)
importFrom(magick,image_read)
importFrom(magick,image_crop)
importFrom(magick,image_write)
importFrom(grid,grid.raster)
importFrom(readbitmap,read.bitmap)
importFrom(curl,curl_download)
importFrom(htm2txt,htm2txt)
importFrom(dplyr,filter)
importFrom(dplyr,pull)
importFrom(taxize,getkey)
importFrom(taxize,get_eolid_)
importFrom(taxize,classification)
importFrom(taxize,gnr_resolve)
importFrom(taxize,tnrs)
importFrom(taxize,iucn_summary)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(bookdown,render_book)
importFrom(sp,spTransform)
importFrom(sp,SpatialPointsDataFrame)
importFrom(sp,coordinates)
importFrom(sp,SpatialPoints)
