export("fun.main")
import(biomod2)
import(ggplot2)
import(doParallel)
import(foreach)
import(raster)
import(taxize)
import(parallel)
import(xtable)
import(knitr)
importFrom(magick,image_read)
importFrom(magick,image_crop)
importFrom(magick,image_write)
importFrom(grid,grid.raster)
importFrom(readbitmap,read.bitmap)
importFrom(curl,curl_download)
importFrom(htm2txt,htm2txt)
importFrom(dplyr,filter)
importFrom(dplyr,pull)
importFrom(bookdown,render_book)
importFrom(sp,spTransform)
importFrom(sp,SpatialPointsDataFrame)
importFrom(sp,coordinates)
importFrom(sp,SpatialPoints)
importFrom("grDevices", "colorRampPalette", "dev.off", "grey", "jpeg",
               "pdf", "png", "terrain.colors")
importFrom("graphics", "par", "rect")
importFrom("stats", "binomial", "complete.cases")